
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 1.75em;
  font-style: bold;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
}

.location{
  border-bottom: 0.2px solid #808080;
}

.location:hover{
  background-color: #808080;
}

.arrow, .content {
  display: inline-block;
  padding: 3% 5%;
}

.arrow {
  float: right;
  padding-top: 5%;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  background-color: #CCC;
  padding-top: 45px;
}
